<%- include ("../partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">Book This Site</li>
                <li class="list-group-item">Similar Campgrounds</li>
                <li class="list-group-item">View on Map</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card mb-4">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                  <p class="float-right h5">$9.00</p>
                  <h5 class="card-title"><%= campground.name %></h5>
                  <p>
                    <em>Submitted By: <%= campground.author.username %></em> 
                  </p>
                  <hr>
                  <p class="card-text"><%= campground.description%></p>
                  <% if(currentUser && campground.author.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                <% } %>
                <a class="btn btn-success float-right btn-sm" href="/campgrounds/<%= campground._id%>/comments/new">
                    Add New Comment
                </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Comments</h4>
                  <ul class="list-group list-group-flush pl-0" id="comment-list">
                    <% campground.comments.forEach(function(comment){ %>
                        <li class="list-group-item px-0 pb-0">
                            <div class="col-md-12 pl-0">
                                <strong><%= comment.author.username %></strong>
                                <p class="float-right">10 days ago</p>
                                <p><%= comment.text %></p>
                                
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                                    <div class="float-right">
                                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="badge badge-warning">
                                        Edit
                                        </a>
                                        <form id="delete-comment" class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <a 
                                            href="javascript:{}" 
                                            onclick="document.getElementById('delete-comment').submit();" 
                                            class="badge badge-danger">Delete</a>
                                        </form>
                                    </div> 
                                <% } %>
                            </div>
                        </li>
                    <% }) %>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/footer.ejs") %>